@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}

.fc {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    height: 80vh;
}

.fc-daygrid-day {
    border: solid black 1px !important;
}

.fc-scrollgrid {
    border: solid black 1px !important;
}


@font-face {
    font-family: lobster;
    src: url('Lobster/lobster.ttf');
}

@font-face {
    font-family: wix;
    src: url('Wix/Wix.ttf');
}

@font-face {
    font-family: alkatra;
    src: url('Alkatra/alkatra.ttf');
}

body {
    font-family: wix;
}

.blob {
    background-color: #550000;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;

    width: 20rem;
    height: 10rem;
}

.title-font {
    font-family: alkatra;
    letter-spacing: 1px;
    text-shadow: 2px 2px 7px #6e8100;
}

#wave {
    border-radius: 50% 100%;
    width: 100%;
    height: 100%;
    background: #6e8100;
}