[Unit]
Description=Api

[Service]
ExecStart=/var/www/site-perso/api/index.js
Restart=always
User=www-data
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=www-data
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/site-perso/api

[Install]
WantedBy=multi-user.target